<div class="jumbotron">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script type='text/javascript'>

    $(document).ready(function () {

    $.ajax({
    type: 'GET',
    url: 'http://localhost:53510/api/Witaj',

    dataType: 'json',

    crossDomain: true,
    success: function (msg) {
        $('.jumbotron').append(msg);
    alert('success: '+msg);
   
    },
    error: function (request, status, error) {

    alert('error');
    }
    });
    });

    </script>
</div>
